.App{
  min-height: 100vh;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  box-shadow: 2px 2px 8px black;
}

.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  box-shadow: 2px 2px 8px black;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-main-page {
  position: relative;
  text-align: center;
  color: white;
}

.img-main-page {
  width: 100%;
}

.title-container {
  position: absolute;
  right: 12px;
  top: 200px;
}

.title {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 150px;
  color: black;
  text-shadow: 2px 2px 8px #FF0000;
}

.sub-title {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 35px;
  color: black;
  text-shadow: 2px 2px 8px #FF0000;
}

.credit-photo {
  position: absolute;
  bottom: 10px;
  left: 50%;
  color: black;
}

.card-view{
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  border: #e9defa solid 35px;
  margin: 20px;
  padding: 10px;
  background-color: #FF0000;
  height: 50vh;
  text-align: center;
  align-items: center;
}

.link {
  color: white;
}