.App{
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  box-shadow: 2px 2px 8px black;
}

.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  box-shadow: 2px 2px 8px black;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-main-page {
  position: relative;
  text-align: center;
  color: white;
}

.img-main-page {
  width: 100%;
}

.title-container {
  position: absolute;
  right: 12px;
  top: 200px;
}

.title {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 150px;
  color: black;
  text-shadow: 2px 2px 8px #FF0000;
}

.sub-title {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 35px;
  color: black;
  text-shadow: 2px 2px 8px #FF0000;
}

.credit-photo {
  color: black;
}